<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <!-- ユーザーの画像を表示 -->
        <img src="<%= "/user_images/#{@user.image_name}" %>">

        <!-- ユーザー詳細ページへのリンク -->
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <!-- いいね！機能 -->
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("いいね！済み", "/likes/#{@post.id}/destroy", {method: "post"}) %>
      <% else %>
        <%= link_to("いいね！", "/likes/#{@post.id}/create", {method: "post"}) %>
      <% end %>
    </div>
    <!-- ログインしているユーザーのみに表示する -->
    <% if @post.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    <% end %>
  </div>
</div>
