<header>
  <div class="header-logo">
    <%= link_to("TweetApp", "/") %>
  </div>
  <ul class="header-menus">
    <% if @current_user %>
      <!-- ログインしている状態 -->
      <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/posts/index") %>
      </li>
      <li>
        <%= link_to("新規投稿", "/posts/new") %>
      </li>
      <li>
        <%= link_to("ユーザー一覧", "/users/index") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/logout", {method: :post})%>
      </li>
    <% else %>
      <!-- ログインしていない状態 -->
      <li>
        <%= link_to("TweetAppとは", "/about") %>
      </li>
      <li>
        <%= link_to("新規登録", "/signup") %>
      </li>
      <li>
        <%= link_to("ログイン", "/login") %>
      </li>
    <% end %>
  </ul>
</header>
